html,body,header,.view{
    height: 100%;
    scroll-behavior: smooth;
}


.view{
    background-image: url(/Images/imagen-glamping-1.jpg);
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}