

footer{
    background-color: 'rgb(0, 0, 0, 0.9)';
    color: white;
    font-size: small;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .redes{
    display:flex;
    justify-content:space-around;
    width: 10%;
    padding-top: 10px;
  }
  
  .imagenes__redes{
    width: 20px;
    height: 20px;
  }