*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
  font-size: 62.5%;
}
.navbar{
  max-height: 13vh;
}

.nav-item{
  font-size: 1.5rem;
  font-weight: 500;
}

.top-nav-collapse{
  background-color: black !important ;
}

.logo{
  height: 100px;
  width:80px ;

}

