
.nuestro-espacio  {
    background-color: '#292d33';
    color: white;
  }
  
  
  h2{
    font-size: 3.5rem;
    font-weight:bold;
  }
  
  .nuestro-espacio_parrafo{
    font-size: 1.5rem;
  }
  
  .resumen-titulo{
    font-size: 9rem;
  }
  .nuestro-espacio_imagenes{
    width: 100%;
    
  }
  
  .nuestro-espacio_imagen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .nuestro-espacio_imagen_texto{
    font-size: 2rem;
    font-weight: 600;
  }
  